.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FEFAE0;  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.orange-bg {
  background-color: #BC6C25;  
  width: 100%;
  height: 100vh;
}


.white-bg {
  background-color: #FEFAE0;  
  width: 25%;
  height: 25vh;
}

.center{
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  display: flex;

}


.length {
  height: 75vh;
}



.buttonClass {
  font-size: 18px;
  font-family: Arial, sans-serif;
  width: 180px;
  height: 60px;
  padding: 10px 20px;
  border-width: 1px;
  color: #fff;
  border-color: #fff;
  font-weight: bold;
  border-radius: 30px;
  text-shadow: 1px 1px 0px #2f6627;
  background: #ADC268;
  cursor: pointer;
  transition: background 0.3s;
}

.buttonClass:hover {
  background: #6d7a41;
}
    

.element {
  padding-top: 120px; /* Adjust the value as needed */
}
